.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.fullScreen {
  min-height: 100vh;
  padding: 0;
}

.loader {
  display: flex;
  align-items: center;
}

.loader.small {
  transform: scale(0.6);
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(92, 92, 92, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ad343e;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
